body {
    display: flex;
}

.page {
    display: none;
}

.page-active {
    display: block;
}

.sidebar {
    background: rgb(211, 211, 211);
    width: 190px;
    display: flex;
    flex-direction: column;
}
